
@font-face {
    font-family: 'pokemon';
    src: url('Pokemon Hollow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

    /*Tipos de Format
- opentype (otf)
-truetype (ttf)
- embedded-opentype 
-truetype-aat
-svg

    */



    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Skranji&display=swap');


    @font-face {
        font-family: 'pokemon';
        src: url('Pokemon Hollow.ttf') format('truetype');
    }

    * {
        font-family: 'Libre Baskerville', serif;
        font-family: 'Skranji', cursive;        
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }
    
    body {
        background: linear-gradient(300deg, #653eaf, #4a3780, #2a1672);
        background-size: 180% 180%;
        animation: gradient-animation 18s ease infinite; 
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
    }
    
    .logo {
        color: white;
        font-family: 'pokemon';
        font-size: 3em;
        text-align: center;
        min-width: 200px;
        max-width: 600px;
        margin-bottom: 24px;
        animation: float 3s ease-in-out infinite;
    }
    
    @keyframes float {
        0% { transform: translateY(0px); }
        50% { transform: translateY(-20px); }
        100% { transform: translateY(0px); }
    }
    
    .container-input {
        max-width: 480px;
        margin: 14px 0;
    }
    
    .container-input span{
        color: white;
        font-size: 22px;
    }
    
    .slider {
            -webkit-appearance: none;
            width: 100%;
            border-radius: 5px;
            background-color: rgba(233, 168, 253, 0.7); /* Melhore a transparência do background */
            border: 1px solid rgba(233, 168, 253, 0.9); /* Melhore a cor da borda */
            height: 18px;
            margin-top: 18px;
            outline: none;
        }
    
    .button-cta {
        height: 40px;
        background-color: blueviolet;
        border: 1px solid blueviolet; /* Adicione uma borda */
        transition: background-color 0.3s, border-color 0.3s; /* Adicione uma transição suave */
        border-radius: 4px;
        cursor: pointer;
        margin-top: 40px;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
    
    } 
    
    .button-cta:hover {
        background-color: #8a2be2; /* Altere a cor de fundo no hover */
        border-color: #8a2be2; /* Altere a cor da borda no hover */
    }
    
    .container-password {
        max-width: 480px;
        margin: 14px 0;
        display: flex;
        cursor: pointer;
        align-items: center;
        flex-direction: column;
    }
    
    .title {
        text-align: center;
        color: #fff;
        font-size: 28px;
        margin-top: 24px;
        margin-bottom: 8px;
    }
    
    .password {
        height: 60px;
        background-color: rgba(0, 0, 0, 0.9); /* Melhore a transparência do background */
        border: 1px solid #313131; /* Cor da borda */
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        
        transition: transform 0.5s;
    }
    
    .password:over{
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adicione uma sombra no hover */
    }
    
    .tooltip{
        color: #fff;
        position: relative;
        top: 20px;
        padding: 6px 6px;
        background: rgba(15, 15, 15, 0.9); /* Melhore a transparência do background */
        border-radius: 6px;
        text-align: center;
        font-size: 16px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
    
    .hide {
        display: none;
    }
    
    .container-password:hover .tooltip {
        visibility: visible;
        bottom: 10px; /* Ajuste a posição do tooltip no hover */
        opacity: 1;
    }
    
    .gif {
        width: 20%;
        height: auto;
        background: url('defahcm-f8de1f78-ff92-4c93-a313-73a4bd172c09.gif') no-repeat center center;
        background-size: cover;
        position: fixed; /* Fixa o elemento em uma posição específica */
        top: 0; /* Posiciona o elemento no topo da página */
        right: 0; /* Posiciona o elemento à direita da página */
    }
    